/*** All Pages ***/
body {
    background: #001219;
    margin-left: 0%;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 0%;
  }
a {
  color: #EE9B00
}
p {
  line-height: 1.5em;
}


/* What the Navigation Bar looks like */
#navbar {
  display: flex;
  justify-content: space-between;
  background-color: #004857;
  position: fixed;
  width: 100%;
  top: 0;
  padding-left: 0%;
  padding-right: 1%;
  transition: 0.4s;
  height: 4em;
  overflow: visible;
  z-index: 99;
  border-bottom: solid 3pt #0A9396;
}

#menu {
  display: none;
  background-color: #004857; /* Green */
  border: none;
  color: #E9D8A6;
  padding: auto 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}



/* Navigation Links */
#navbar a {
  color: #E9D8A6;
  text-decoration: none;
  padding: 0 1.5em;
  text-align: center;
  margin: 0;
  font-size: 1.25em;
}

/* Button Change when Mouse over */
#navbar a:hover, #navbar a:focus {
  color: #9B2226;
}

/* Navigation Header */
#nametag {
  font-size: 1.75em;
  transition: 0.4s;
}

nav {
  padding: 1em;
  display: flex;
  justify-content: space-evenly;
  transition: 0.4s;
}

/* Project List Dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown hovering */
.dropdown:hover #project-list, .dropdown:focus #project-list {
  display: block;
  
  min-width: 95%;
}

/* Dropdown main */
#project-list {
  margin-top:5%;
  display: none;
  position: absolute;
  background-color: #0A9396;
  border: 0.2em solid #94D2BD;
}

/* Dropdown links */
#project-list a {
  display: block;
  padding: 0.2em 0;
}

@media (max-width: 1250px) {
  /* Show menu button on mobile */
  
  
  #menu {
    display: inline-block;

  }
/* Shrinking name for mobile */
  #nametag {
    font-size: 1.5em !important;
    padding-bottom: 10px;
  }

  /* Mobile dropdown */
  #navbar-right {
    
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    background-color: #0A9396;
    border: 0.2em solid #94D2BD;
    text-align: center;
    margin-top:4em;
    font-size: 0.75em !important; 
    width: 99%;
  }

  /* Dropdown links */
  #navbar-right a {
    
    display: block;
    padding: 1em 0;
    
  }

  /* Stop Project hovering */
  .dropdown:hover #project-list{
    display: none;
    min-width: 95%;
    max-width: 98%;
  } 
}

@media (max-width: 380px) {
  #nametag {
    font-size: 1em !important;
  }
}


/* main content */
.content {
  color: #E9D8A6;
  display: flex;
  flex-direction: column;
  padding: 2em;
  justify-content: space-between;
  margin-top: 4em;
}

/* contact at bottom of page */
.contact {
  align-self: center;
  margin-top: 7em;
  
}

.contact header {
  text-align: center;
}

/* List */
.item {
  font-size: x-large;
}

/* Specific points */
.contact a {
  display: flex;
  justify-content: space-between;
}

/* Contact Images*/
.contact-img img{
  max-width: 2em;
  max-height: 2em;
  margin: 10%;
  background-color: white;

}

/* Circular contact icon */
.circ img{
  border-radius: 50%;
}

/* Rounded edge contact icon */
.round img{
  border-radius: 15%;
}

/* Image on hover */
.contact-img:hover, .contact-img:focus {
  filter: opacity(50%)
}



/* Contact Links */
.contact-link {
  width: 5em;
  margin: auto 5% auto;
  text-align: right;
}



/*** index.html ***/
/* Main intro */
.index {
  padding-right: 0%;
  padding-left:0%;
  padding-top: 1%;
}


#intro {
  padding: 2vw;
  background-color: #0A9396;
  height: 30em;
  width: 95.9%;
  display: flex;
  justify-content: center;
  
}

#intro h1 {
  font-size: 2em;
}

#intro p {
  font-size: 1.1em;
}

/* Self Pic container */
#intro-pic {
  padding: 1vw;
  max-width: 50vw;
  margin-left: auto;
}

/* Self pic image */
#intro-pic img {
  max-height: 100%;
  max-width:100%;
  border-radius: 50%;
  margin: auto 0;
}

/* Short intro container */
#intro-bio {
  max-width: 35%;
  max-height: 89%;
  padding: 0.5%;
  margin: 5em auto 5em 2.5em;
}

#intro-bio header{
  padding-top: 4em;
}

@media (max-width: 850px) {
  #intro {
    flex-direction: column;
    justify-content:flex-start;
    height: 22em;
  }

  #intro-pic {
    align-self: center;
    margin: 0;
    max-width:70%;
    max-height:70%;
  }

  #intro-pic img {
    max-height: 98%;
    max-width:98%;
  }

  #intro-bio {
    align-self: center;
    margin: 5px 0;
    padding-top: 0;
    max-width: 70%;
    font-size: 0.75em;
  }

  #intro-bio header{
    padding-top: 0;
  }

  #intro-bio h1 {
    font-size: 1.2em;
  }
}

/*** applying.html ***/
.applying {
  margin: 5em auto;
}

@media (max-width:1000px) {
  .applying {
    font-size: 0.8em;
  }
}

@media (max-width:380px) {
  .applying {
    font-size: 0.6em;
  }
}


/*** about.html ***/
/* Main about me section */

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #001219;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #07080B;
}


.about h2, .about h3, .about h4 {
  color: #BBD3D3;
}

#about-intro {
  max-width: 60em;
  max-height: 20em;
}



#Hobbies img {
  max-height: 90%;
  max-width: 90%;
}



/* Article containers in #about-me */
#about-me article {
  background-color: #004857;
  max-width:100%;
  margin: 0.5%
}

@media (max-width:1250px) {
  #about-intro h2 {
    margin-top:0;
    font-size: 1.7vw;
  }
  
  #about-intro p {
    font-size: 1.5vw;
  }
  
  #about-me{
    flex-direction: column;
    flex-basis: 100%;
    font-size: 1.5vw;
  }  

  #about-me article {
    align-self: center;
    min-width: 40em;
    max-width: 70em;
  }
}

@media (max-width:600px) {
  #about-me{
    flex-direction: column;
    
    flex-basis: 100%;
  }

  #about-me article {
    align-self: center;
    min-width: 15em;
  }
}
/* Style the tab */
 .tab {
  overflow: hidden;
  background-color: #f1f1f1;
  align-content: center;
} 

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  align-self: center;
  justify-content: space-evenly;
  border: none;
  outline: none;
  cursor: pointer;
  /* padding: 14px 16px; */
  transition: 0.3s;
}



/* Style the tab content */
.tabcontent {
  display: none;
  padding: 30px 12px;
}

/*** projects.html ***/
.projects {
  margin: 5em auto;
  
}

.projects header {
  font-size: 1.3vw;
}

.personal-work {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #004857;
  width:95%;
  padding-left: 1em;
  padding-right: 1em;
  margin: 1em
}

.personal-work header {
  font-size: 1vw;
}

.projects article {
  display: flex;
  margin:1em 0%;
  padding:2em;
  background-color: #06585B;
  font-size: 0.8vw;
  width: 90%;
  align-self: center;
}

.project-link, .project-description {
  width: 50%;
  padding: 0% 1em;
}

.project-description ul, .project-description ol {
  padding-left:20px;
}


.project-link img {
  max-width: 100%;
  max-height: 100%;
}

.project-link {
  text-align: center;
}

@media (max-width:500px) {
  #founders-prompts header {
    font-size: 2.2vw;
  }
  .projects article {
    flex-direction: column;
    font-size: 2vw;
    padding: 0%;
    
  }
  .project-link, .project-description {
    align-self: center;
    width: 90%
  }
}


