/*** All Pages ***/
body {
    background: rgb(169, 209, 142);
    margin-left: 0%;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 0%;
  }

p {
  line-height: 1.5em;
}


/* What the Navigation Bar looks like */
#navbar {
  display: flex;
  justify-content: space-between;
  background-color: rgb(83, 128, 52);
  position: fixed;
  width: 100%;
  top: 0;
  padding-left: 0%;
  padding-right: 1%;
  transition: 0.4s;
  height: 4em;
  overflow: visible;
  z-index: 99;
}

#menu {
  display: none;
}

/* Navigation Links */
#navbar a {
  color: rgb(255,255,204);
  text-decoration: none;
  padding: 0 1.5em;
  text-align: center;
  margin: 0;
  font-size: 1.25em;
}

/* Button Change when Mouse over */
#navbar a:hover, #navbar a:focus {
  color: rgb(90,90,90);
}

/* Navigation Header */
#nametag {
  font-size: 1.75em;
  transition: 0.4s;
}

nav {
  padding: 1em;
  display: flex;
  justify-content: space-evenly;
  transition: 0.4s;
}

/* Project List Dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown hovering */
.dropdown:hover #project-list, .dropdown:focus #project-list {
  display: block;
  min-width: 95%;
}

/* Dropdown main */
#project-list {
  display: none;
  position: absolute;
  background-color: rgb(113, 175, 71);
  border: 0.2em solid rgb(90,90,90);
}

/* Dropdown links */
#project-list a {
  display: block;
  padding: 0.2em 0;
}

@media (max-width: 1250px) {
  /* Show menu button on mobile */
  
  
  #menu {
    display: inline-block;

  }
/* Shrinking name for mobile */
  #nametag {
    font-size: 1.5em !important;
    padding-bottom: 10px;
  }

  /* Mobile dropdown */
  #navbar-right {
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    background-color: rgb(113, 175, 71);
    border: 0.2em solid rgb(90,90,90);
    text-align: center;
    margin-top: 4em;
    font-size: 0.75em !important; 
    width: 99%;
  }

  /* Dropdown links */
  #navbar-right a {
    display: block;
    padding: 1em 0;
    
  }

  /* Stop Project hovering */
  .dropdown:hover #project-list{
    display: none;
    min-width: 95%;
    max-width: 98%;
  } 
}

@media (max-width: 380px) {
  #nametag {
    font-size: 1em !important;
  }
}


/* main content */
.content {
  color: rgb(90, 90, 90);
  display: flex;
  flex-direction: column;
  padding: 2em;
  justify-content: space-between;
  margin-top: 4em;
}

/* contact at bottom of page */
.contact {
  align-self: center;
  margin-top: 7em;
  
}

.contact header {
  text-align: center;
}

/* List */
.item {
  font-size: x-large;
}

/* Specific points */
.contact a {
  display: flex;
  justify-content: space-between;
}

/* Contact Images*/
.contact-img img{
  max-width: 2em;
  max-height: 2em;
  margin: 10%;
  background-color: white;

}

/* Circular contact icon */
.circ img{
  border-radius: 50%;
}

/* Rounded edge contact icon */
.round img{
  border-radius: 15%;
}

/* Image on hover */
.contact-img:hover, .contact-img:focus {
  filter: opacity(50%)
}



/* Contact Links */
.contact-link {
  width: 5em;
  margin: auto 5% auto;
  text-align: right;
}



/*** index.html ***/
/* Main intro */
.index {
  padding-right: 0%;
  padding-left:0%;
  padding-top: 1%;
}


#intro {
  padding: 2vw;
  background-color: rgb(255,255,204);
  height: 30em;
  width: 95.9%;
  display: flex;
  justify-content: center;
  
}

#intro h1 {
  font-size: 2em;
}

#intro p {
  font-size: 1.1em;
}

/* Self Pic container */
#intro-pic {
  padding: 1vw;
  max-width: 50vw;
  margin-left: auto;
}

/* Self pic image */
#intro-pic img {
  max-height: 100%;
  max-width:100%;
  border-radius: 50%;
  margin: auto 0;
}

/* Short intro container */
#intro-bio {
  max-width: 35%;
  max-height: 89%;
  padding: 0.5%;
  margin: 5em auto 5em 2.5em;
}

#intro-bio header{
  padding-top: 4em;
}

@media (max-width: 850px) {
  #intro {
    flex-direction: column;
    justify-content:flex-start;
    height: 22em;
  }

  #intro-pic {
    align-self: center;
    margin: 0;
    max-width:70%;
    max-height:70%;
  }

  #intro-pic img {
    max-height: 98%;
    max-width:98%;
  }

  #intro-bio {
    align-self: center;
    margin: 5px 0;
    padding-top: 0;
    max-width: 70%;
    font-size: 0.75em;
  }

  #intro-bio header{
    padding-top: 0;
  }

  #intro-bio h1 {
    font-size: 1.2em;
  }
}



/*** about.html ***/
/* Main about me section */
#about-intro {
  max-width: 60em;
  max-height: 20em;
}

#about-me {
  display:flex;
  justify-content: space-evenly;
}



/* Article containers in #about-me */
#about-me article {
  background-color: rgb(255,255,204);
  min-height: 20em;
  min-width: 20em;
  max-width: 30em;
  padding:1em 2em;
  margin: 0.5%
}

@media (max-width:1250px) {
  #about-intro h2 {
    margin-top:0;
    font-size: 1em;
  }
  
  #about-intro p {
    font-size: 0.8em;
  }
  
  #about-me{
    flex-direction: column;
    flex-basis: 100%;
    font-size: 0.7em;
  }  

  #about-me article {
    align-self: center;
    min-width: 30em;
    max-width: 50em;
  }
}

@media (max-width:600px) {
  #about-me{
    flex-direction: column;
    
    flex-basis: 100%;
  }

  #about-me article {
    align-self: center;
    min-width: 15em;
  }
}


/*** projects.html ***/
.projects {
  margin: 5em;

}

#founders-prompts {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  
}

.projects article {
  display: flex;
  margin:1em 0%;
  padding:2em;
  background-color: rgb(255,255,204);
}

.project-link, .project-description {
  width: 50%;
  padding: 0% 1em;
}


.project-link img {
  max-width: 100%;
  max-height: 100%;
}

.project-link {
  text-align: center;
}

/*** applying.html ***/
.applying {
  margin: 5em;
}